@charset "utf-8";
/* CSS Document */

/*---------------*/
/***** Bubba *****/
/*---------------*/

.effect-bubba {
	
}
#po4>img{
	opacity: 0.8;
}
#po4:hover img {
	opacity: 0.6;
}

.effect-bubba img {
	
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}
.effect-bubba:hover {
	background: #9e5406;
}

.effect-bubba:hover img {
	opacity: 0.4;
}

.effect-bubba figcaption::before,
.effect-bubba figcaption::after {
	position: absolute;
	top: 40px;
	right: 40px;
	bottom: 40px;
	left: 40px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

.effect-bubba h2 {
	font-size: 46px;
	color: aliceblue;
	text-align: center;
	margin-top: -300px;
	padding-top: 30%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}

.effect-bubba p {
	text-align: center;
	margin-top: -20px;
	color: aliceblue;
	padding: 0px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

.effect-bubba:hover figcaption::before,
.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.effect-bubba:hover h2,
.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}